<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
 
 
        <ul>

       <li>  <%= message %></li>   
        </ul>

 
</body>

</html>